.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;


    form {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        align-items: center;
        background-color: var(--cor-secundaria);
        width: 20rem;

        h1 {
            color: white;
        }

        input {
            font-size: 1.2rem;
            height: 2rem;
        }

        button {
            height: 2rem;
            font-size: 1rem;
            border-radius: 0.3rem;
            width: 6rem;
        }

        img{
            width: 1.3rem;
            margin-left: -14rem;
        }
    }

    &__nao_possui{
        display: flex;
        align-items: center;
        p{
            color: white;
            font-size: 0.7rem;
        }

        a{
            color: grey;
            font-size: 0.7rem;
            text-decoration: underline;
        }
    }
}