.cards {
        margin-top: 5rem;
        //margin-left: 4rem;
        column-gap: 4.7rem;
        row-gap: 4.7rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }