@import-normalize;
@import './_variaveis.css';

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(var(--cor-primaria), var(--cor-secundaria));
    box-sizing: border-box;
  }

body::-webkit-scrollbar{
  width: 0.4rem;
}

body::-webkit-scrollbar-thumb{
  background-color: var(--cor-secundaria);
  border-radius: 20px;
}

body::-webkit-scrollbar-track{
  background: linear-gradient(var(--cor-primaria), var(--cor-secundaria));
}