@import-normalize;

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(var(--cor-primaria), var(--cor-secundaria));
    font-family: 'Montserrat', sans-serif;
  }

body::-webkit-scrollbar{
  width: 0.7rem;
}

body::-webkit-scrollbar-thumb{
  background-color: rgb(34, 34, 34);
  border-radius: 20px;
}

body::-webkit-scrollbar-track{
  background: var(--cor-primaria);
}