.botao{
    width: 9rem;
    height: 2rem;
    border: none;
    border-radius: 0.2rem;
}

.login{
    background-color: #FF0000;
    color: white;
}

.cancelar{
    background-color: rgb(82, 82, 82);
    color: black;
}