.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: -0.5rem;

    &__form {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--cor-secundaria);
        h1 {
            color: white;
        }

        &__formulario{
            padding: 1rem;
            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;
            align-items: center;
            width: 20rem;

            &__usuario{
                width: 16.7rem;
                height: 2rem;
            }
            
            &__senha{
                height: 2rem;
                width: 15rem;
                padding-right: 1.8rem;

            }

            button {
                cursor: pointer;
                color: black;
                border: none;
                font-weight: bold;
                background-color: rgb(58, 58, 58);
                height: 2rem;
                font-size: 1rem;
                border-radius: 0.3rem;
                width: 6rem;
                transition: 0.5s;
            }

            button:hover{
                background-color: grey;
            }

            img {
                position: relative;
                top: -2.3rem;
                left: 7.7rem;
                width: 1.3rem;
                cursor: pointer;
            }
        }
    }

    &__nao_possui {
        display: flex;
        align-items: center;

        p {
            color: white;
            font-size: 0.7rem;
        }

        a {
            color: grey;
            font-size: 0.7rem;
            text-decoration: underline;
        }
    }
}

.erro{
    color: red;
    font-size: 0.7rem;
}