.notfound{
    display: flex;
    justify-content: space-around;
    height: 41.1vh;
    padding: 5rem 5rem;

    &__text{
        h1{
            color: white;
        }
        p{
            color: white;
            word-wrap: break-word;
        }
    }

    &__img{
        width: 15rem;
        height: 20rem;
    }
}

.botao{
    background-color: orange;
    color: white;
    font-weight: bold;
    border-radius: 10px ;
    transition: 0.5s;
    width: 6rem;
    height: 3rem;
}

.botao:hover{
    background-color: orangered;
    cursor: pointer;
}